$brand-colors: (
  facebook: #3b5998,
  twitter: #1da1f2,
  linkedin: #0077b5,
  reddit: #ff4500,
  whatsapp: #128c7e,
);

.post-social {
  background: #383b42;
  border-radius: 290486px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 540px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  .button {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;

    background-color: #282c35;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding: calc(0.375em - 1px) 0.75em;
    text-align: center;
    white-space: nowrap;

    margin: 0.5rem 0.25rem;

    @each $class, $color in $brand-colors {
      &.#{$class} {
        color: $color;
        border-color: $color;
        &:hover {
          background-color: $color;
          border-color: $color;
          color: #fff;

          svg {
            color: #fff !important;
          }
        }
      }   
    }
  }
}
